body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.timer {
	height: 200px;
	width: 600px;

	position: fixed;
	top: 20%;
	left: 50%;
	margin-top: -100px;
	margin-left: -300px;
	
	text-align: center;
}

.time {
	font-size: 10em;
}

button {
	font-size: 1.4em;
	padding: 5px 12px;
}

.widebutton {
	width: 350px;
}

.smolbutton {
	font-size: 1em;
	padding: 5px 12px;
}

.plusminusbutton {
	font-size: 1em;
	padding: 2px 10px;
}

.credits {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 5px;
}

.help {
	text-align: left;
}

.help h1 {
	text-align: center;
}